<div class="posts">
  <% @posts.each do |post| %>
    <div class="post" id="post-<%=post.id%>">
      <%= post.content %>
      <br/>
      <p>Posted by <%= post.user.user_name %> <%= post.created_at.strftime("at %H:%M on %d/%m/%Y") %></p>
      <p><%= link_to "More", post %> </p>

    </div>

  <%end%>

</div>
