<div class="posts">
  <% @posts.each do |post| %>
    <div id="post-<%=post.id%>">
      <%= post.content %>
      <br/>
      <p>Posted by <%= post.user.user_name %> on <%= post.created_at %></p>
      <p><%= link_to "More", post %> </p>

    </div>

  <%end%>

</div>
