<div class="individual-post">
  <%=@post.id%><br/>
  <%=@post.content%><br/>
  <%=@post.user.user_name%><br/>

  <div class="comments-container">
    <%@post.comments.each do |comment| %>
      <div class="comment">
        <%=comment.content%> <br/>
        -Comment posted by <%=comment.user.user_name%>
        <%= comment.created_at.strftime("at %H:%M%p on %d/%m/%Y") %>
        <br/>
      </div>
    <%end%>
  </div>

</div>
